---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Edzéseink alapvetően reggelente, munka előtt vannak a Tüskecsarnokban (térkép), az FTC jégpályán (térkép), és a szezon végén - májusban és júniusban a Kisstadionban (térkép) 


Alapvető korcsolya tudás elsajátítása, az ütőkezelés, illetve passzok gyakorlása, a lövéstechnika alapjainak és  egyszerű feladatoknak a megismerése.


Hétfő 21.00 - 22.00 FTC sátor 

Haladó edzés a bajnokságban részt vevő csapattal együtt megfelelő előképzettség után. 
Összetett, több passzból álló feladatok.  
A jégkorong játékhoz szükséges szabályok és játékelemek megismerése. 

Csütörtök 7.00 - 8.00 - játék Tüskecsarnokban 

Szombat kb. 8.00 - 9.00 játék Tüskecsarnokban
`;
---

<Layout title="Edzések">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">Jégpályák, időpontok</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>
        <a href="/hoki" class="btn btn-lg sm:min-w-64">Többet is akarok!</a>
    </p>
    <h2>Kori/hoki alapok</h2>
    <div>
        <ul>
            <il>Hétfő 7.00 - 8.00 - Tüskecsarnok</il>
            <il>Szerda 7.00 - 8.00 - Tüskecsarnok</il>
            <il>Péntek 7.00 - 8.00 - FTC jégpálya </il>
        </ul>
    </div>
</Layout>
