---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Edzéseink alapvetően reggelente, munka előtt vannak a <a href="https://maps.app.goo.gl/Phnw8rZKnDywfwux9" target='_blank'>Tüskecsarnokban</a>, az <a href="https://maps.app.goo.gl/Gbus5m8r33B7EVTf7" target='_blank'>FTC sátras jégpályán</a>,<br>
és a szezon végén - májusban és júniusban - a <a href="https://maps.app.goo.gl/gz84Dnqm5zUPeUVY6" target='_blank'>Kisstadionban</a><br>
<strong>Kérlek, hogy mindenképp <a href="/kapcsolat">VEDD FEL VELÜNK A KAPCSOLATOT</a> mielőtt először jönnél!</strong>
`;
---

<style>
    .edzesek {
    padding-top: 10px;
    padding-bottom: 50px;
    }
</style>

<Layout title="Edzések">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">Jégpályák, időpontok</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <h2>Kori/hoki alapok</h2>
    <h3>Alapvető korcsolya tudás elsajátítása, az ütőkezelés, illetve passzok gyakorlása, a lövéstechnika alapjainak és  egyszerű feladatoknak a megismerése.</h3>
<div class="edzesek">
  <ul>
    <li>
      <strong>Hétfő 7.00 - 8.00 - Tüskecsarnok</strong> —
      <a
        href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=Hétfő+reggeli+edzés&dates=20250714T050000/20250714T060000&location=Tüskecsarnok&ctz=Europe/Budapest"
        target="_blank" rel="noopener"
      >Hozzáaadom a naptáramhoz!</a>
    </li>
    <li>
      <strong>Szerda 7.00 - 8.00 - Tüskecsarnok</strong> —
      <a
        href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=Szerda+reggeli+edzés&dates=20250716T050000/20250716T060000&location=Tüskecsarnok&ctz=Europe/Budapest"
        target="_blank" rel="noopener"
      >Hozzáaadom a naptáramhoz!</a>
    </li>
    <li>
      <strong>Péntek 7.00 - 8.00 - FTC sátor</strong> —
      <a
        href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=Péntek+reggeli+edzés&dates=20250718T050000/20250718T060000&location=FTC+sátor&ctz=Europe/Budapest"
        target="_blank" rel="noopener"
      >Hozzáaadom a naptáramhoz!</a>
    </li>
  </ul>
</div>

<h2>Haladó hoki edzések</h2>
<h3>
  Haladó edzés a bajnokságban részt vevő csapattal együtt megfelelő előképzettség után<br>
  Összetett, több passzból álló feladatok<br>
  A jégkorong játékhoz szükséges szabályok és játékelemek megismerése
</h3>

<div class="edzesek">
  <ul>
    <li>
      <strong>Hétfő 21.00 - 22.00 - FTC sátor</strong> —
      <a
        href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=Haladó+edzés&dates=20250714T190000/20250714T200000&location=FTC+sátor&ctz=Europe/Budapest"
        target="_blank" rel="noopener"
      >Hozzáaadom a naptáramhoz!</a>
    </li>
  </ul>
</div>

<h2>Játék</h2>
<div class="edzesek">
  <ul>
    <li>
      <strong>Csütörtök 7.00 - 8.00 - Tüskecsarnok</strong> —
      <a
        href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=Csütörtöki+játék&dates=20250717T050000/20250717T060000&location=Tüskecsarnok&ctz=Europe/Budapest"
        target="_blank" rel="noopener"
      >Hozzáaadom a naptáramhoz!</a>
    </li>
    <li>
      <strong>Szombat kb. 8.00 - 9.00 - Tüskecsarnok</strong> —
      <a
        href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=Szombati+játék&dates=20250719T060000/20250719T070000&location=Tüskecsarnok&ctz=Europe/Budapest"
        target="_blank" rel="noopener"
      >Hozzáaadom a naptáramhoz!</a>
    </li>
  </ul>
</div>

</Layout>
