---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
A Vénfarkasok egy amatőr felnőtt hokicsapat 2010 óta.

Mindig is szerettél volna megtanulni rendesen korizni? Érdekel a jégkorong világa? Vagy csak nézőtéri "szakértőből" szeretnél tényleges sportolóvá válni?
Jó helyen jársz!
`;
---

<style>
    .custombutton {
    padding-bottom: 20px;
    padding-top: 10px;
    }
</style>

<Layout title="Sportra Fel">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">Sportra Fel!<br>Tanulj meg jégkorongozni velünk!</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p class='custombutton'>
        <a href="/rolunk" class="btn btn-lg sm:min-w-64">Ismerj meg minket!</a>
    </p>
    <h2 class="mb-10">Rendszeres mozgásra és jó társaságra vágysz?</h2>
    <p class='custombutton'>
        <a href="/edzesek" class="btn btn-lg sm:min-w-64">Jégpályák, időpontok</a>
    </p>
    <h2 class="mb-10">Tanulj meg nálunk korizni akár a nulláról!</h2>
    <p class='custombutton'>
        <a href="/kori" class="btn btn-lg sm:min-w-64">Szeretnék megtanulni korizni!</a>
    </p>
    <h2 class="mb-10">Ismerd meg a jégkorong sportot!</h2>
    <p class='custombutton'>
        <a href="/hoki" class="btn btn-lg sm:min-w-64">Szeretnék megtanulni hokizni!</a>
    </p>
    <h2 class="mb-10"><h2 class="mb-10">Érezd jól magad!<br>Légy te is amatőr sportoló nézőtéri "szakértő " helyett!</h2>
    <p class='custombutton'>
        <a href="/galeria" class="btn btn-lg sm:min-w-64">Megnézem, hogy az milyen!</a>
    </p>
</Layout>
