---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
A Vénfarkasok egy amatőr felnőtt hokicsapat, 2015 óta.

Mindig is szerettél volna megtanulni rendesen korizni? Érdekel a jégkorong világa? Vagy csak nézőtéri szakértőből szeretnél tényleges sportolóvá válni?
Jó helyen jársz!

Jégkorongozz velünk!

Rendszeres mozgásra és jó társaságra vágysz? - Jégpályák, időpontok

Csatlakozz a Vénfarkasok amatőr felnőtt jégkorong csapathoz!
Alakulás éve: 2010 

Tanulj meg nálunk korizni akár a nulláról! - Kori 

Ismerd meg a jégkorong sportot! - Hoki 

Légy te is amatőr sportoló nézőtéri "szakértő " helyett! - Videók

Érezd jól magad! - Képek 
`;
---

<Layout title="Sportra Fel">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">Üdv a honlapon! Tanulj meg jégkorongozni velünk!</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>
        <a href="/rolunk" class="btn btn-lg sm:min-w-64">Ismerj meg minket!</a>
    </p>
</Layout>
