---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Sokak számára vonzó a korcsolyázás, 
de annak elsajátítása többnyire félelmetesnek tűnik. 
Pedig egyáltalán nem az, ha megfelelő körülmények között, 
szisztematikusan, a legegyszerűbb mozgásoktól kezdi valaki. 
Nálunk így lehet eljutni egy biztonságos és jó szintre. 
Hetente 2-3 alkalommal van mód részt venni olyan edzéseken, 
ahol biztonságosan el lehet jutni a korcsolyázás valódi élvezetéig. 
Ha további részletekre vagy kíváncsi, <a href='/kapcsolat'>jelentkezz</a> bátran!
`;
---

<Layout title="Korcsolya tanulás">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">Tanulj meg korizni a nulláról!</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>
        <a href="/hoki" class="btn btn-lg sm:min-w-64">Többet is akarok!</a>
    </p>
</Layout>
