---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Explain szöveg...Under construction...
`;
---

<Layout title="Korcsolya tanulás">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">Tanulj meg korizni a nulláról!</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>
        <a href="/hoki" class="btn btn-lg sm:min-w-64">Többet is akarok!</a>
    </p>
</Layout>
