---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Az oldal fejlesztés alatt... Kérjük szíves türelmedet!
`;
---

<style>
  .alcim {
    padding-bottom: 20px;
  }
</style>

<Layout title="Rólunk">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">Vénfarkasok history</h1>
    <h2 class="alcim">Pesterzsébeti Vénfarkasok 2010</h2>
    <p>Egyre romló fizikai állopotomra való tekintettel - folyamatos derék és gerincfájdalmak
    - úgy döntöttem, hogy életmódot váltok. Akkoriban már volt lehetőség Pesterzsébeten "papahoki"-ra járni, 
    ahol Dobos Tamás tartotta az edzéseket egy meglehetősen vegyes társaság számára. 
    Voltam én, a nagy Cseh-tlik Boktlik és a többiek, akik mentek, mint az őrült. 
    Alig két edzés után jobbnak is láttam egy teljes felszerelést beszerezni. 
    Természetesen nem volt véletlen a választás, ami a hokit illeti, 
    hiszen ekkoriban kezdte ezt a sportot nagyobbik fiam, Bálint is. 
    Hamarosan több csapattátársa apukája is megjelent az edzéseken. Többek között ez adta az ötletet, 
    hogy csapatot kezdjek verbuválni Pesterzsébeti Vénfarkasok néven. 
    Így kezdtünk kispályás meccseket  játszani hasonló kezdő amatőr csapatokkal. 
    A heti egy edzés mellett lassan elkezdtünk szombatonként is jászani. 
    Lelkes öt év telt el így a következő nagy lépésig.</p>

    <h2 class="alcim">Vénfarkasok</h2>

    <p>Miután úgy alakult, hogy önálló útra lépünk 2015 - ben szinte a nulláról kezdtük újra, 
    immáron saját magunk által szervezett edzések keretében. Lévai Pál,  
    egykori profi jégkorongozó és ezidőtájt a MAC utánpótlás legjobb edzője, vállalta el a nemes feladatot, 
    hogy belénk is némi tudást szorítson. Hatalmas türelemmel kezdett mindent, szinte az alapoktól. 
    Újabb edzéseket vezettünk be. Így történhetett meg az, hogy a korábbi Vénfarkasok csapatunk mellé 
    felépíthettük a saját "utánpótlás" csapatunkat, a Vénfarkasok Junior csapatát.</p>

    <h2 class="alcim">Vénfarkasok Junior</h2>
    <p>Mint kiderült,  sokan kerülték ezt a sportot a korcsolyatudás hiányában. 
    2017-ben indítottuk el azokat az edzéseket, ahol a nulláról is meg lehetett tanulni korcsolyázni. 
    Ez a lehetőség rendkívüli érdeklődést váltott ki, így egyre többen csatlakoztak hozzánk. 
    Ennek eredményeként 2018 - ban már két csapattal indulhattunk az OBIV bajnokságban.</p>

    <h2 class="alcim">"Kényszerszünet...2020"</h2>
    <p>Sajnos a pandemia minket sem kímélt, ezért néhány hónapra szüneteltetni kellett az edzéseket. 
    Noha email - en és különböző közösségi oldalakon igyekeztem összetartani a társaságot, 
    az egészségügyi kockázatok miatt többen feladták, illetve más sportot kerestek, amelyeket továbbra is 
    végezhettek. Az újrakezdés nem volt könnyű,  de a kissé megcsappant létszámból így is újra tudtam építeni 
    egy csapatot. Így tovább folytathattuk a toborzást is.</p>

    <h2 class="alcim">Újkori Vénfarkasok „2021”</p>
    <p>Jelenlegi csapatunk, amelyben immáron vannak egykori Vénfarkas és Vénfarkas Junior tagok is, 
    új tagokkal bővült évről évre. Továbbra is játszunk az MJSZ által irányított OBIV bajnokságban és 
    folytatjuk az "utánpótlás" nevelést.</p>

    <h2 class="alcim">2025</h2>

    <p>Tradicionálisan több alkalmat is megragadunk a szezon folyamán, hogy a közösségi életünk ne csak 
    az öltözőre korlátozódjon. Közös programokat szervezünk,  amelyek közül kiemelkedő az éves 
    "születésnapi" buli. Idén így egyszerre ünnepeltük a 15 évvel ezelőtti indulást és a 10 éves önálló életünket.</p>
</Layout>
